.elm-delivery {
  width: 4vh;
  height: 4vh;
}

.deliveries-container {
  align-items: center;
  width: 50%;
  height: 7vh;
  background-color: rgba(256,256,256,0.2);
}

.worker-container {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: rgb(80, 80, 220);
  margin:10px;
  border-radius: 5px;
}

.shop-container {
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(30,30,50);
  flex: 1;
}
